.container{
    height:  700px;
}
.wrapp{
    height: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.link_bg{
    display: flex;
    background: url('../../../assets/collection/col1.jpg') center center no-repeat;
    width: 100%;
    height: 100%;
    padding: 5%;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 4.5rem;
        font-family: Viktor,serif;
    font-weight: 400;
}
.desc{
    text-align: end;
        font-size: 4.5rem;
        font-family: Viktor,serif;
    font-weight: 400;
}
.text{
        font-size: .8125rem;
    font-family: Founders Grotesk Mono,sans-serif;
    line-height: 152%;
        font-weight: 300;
    text-transform: uppercase;
}